
@font-face {
    src: url(../fonts/Quakiez.ttf);
    font-family: quakiez;
}

/* css variables */
:root {

    /* colors */
    --hue-color: ;
    --first-color: rgb(160, 141, 105);
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: rgb(230, 230, 230);
    --title-color-darker: rgb(150, 150, 150);
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: rgb(36, 36, 36);
    --container-color: ;

    /* font and typography */
    --body-font: Arial, Helvetica, sans-serif;

    --big-font-size: 4.5rem;
    --h1-font-size: 1.25rem;
    --h2-font-size: 1rem;
    --h3-font-size: .813rem;
    --normal-font-size: .75rem;
    --small-font-size: .5rem;
    --smaller-font-size: .25rem;

}

/* base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

i {
    color: var(--title-color);
}

/* reuseable code */
.container {
    margin-left: 22rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

.row {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.column1 {
    display: table-cell;
    width: 20%;
}

.column2 {
    display: table-cell;
    width: 20%;
}

.column3 {
    display: table-cell;
    width: 60%;
}

.column3column3 {
    display: table-cell;
    width: 41%;
}

.column3column2 {
    width: 45%;
}

.header {
    width: 100%;
    margin-top: 1.5rem;
    background-color: var(--body-color);
}

/* navbar */
.nav {
    margin: 1rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
}

.nav-logo {
    font-family: quakiez;
    font-size: 1.25rem;
    color: var(--title-color);
    font-weight: var(--font-);
}

.nav-logo:hover {
    color: var(--first-color);
}

.nav-item {
    font-size: 1.25rem;
}

.nav-item a {
    padding: .75rem;
}

.nav-item i:hover {
    color: var(--first-color);
}

/* not in use */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }
  
  .typing-demo {
    width: 24ch;
    animation: typing 2s steps(24), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4em;
    color:rgb(160, 141, 105)
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* main */
.banner {
    margin-top: 15rem;
    margin-right: 4rem;
    margin-bottom: 10rem;
}

.banner h1 {
    font-size: var(--big-font-size);
}

.column1 {
    font-family: quakiez;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

/* about */
.about .column2 {
    color: var(--title-color);
}

.about .column3 p {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    line-height: 2;
    text-align: justify;
}

#img {
    float: right;    
    border-radius: 5px;
    margin: 0 0 0 15px;
}

/* skills */
.skills-content {
    font-size: 1.11em;
}

.skills-icon {
    font-size: 1.3em;
}

.skills-header {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
}

.skills-content .skills-arrow:hover {
    color: var(--first-color);
    cursor: pointer;
}

.skills-arrow {
    font-size: 1.5rem;
}

.skills-arrow {
    margin-left: auto;
    transition: .4s;
}

.skills-titles {
    display: flex;
    justify-content: space-between;
}

.skills-data {
    line-height: 2;
}

.skills-data h3 {
    color: var(--first-color);
}

.skills-close .skills-list {
    height: 0;
    overflow: hidden;
}

.skills-open .skills-list {
    height: max-content; 
}

.skills-open .skills-arrow {
    transform: rotate(-180deg);
}

/* qualification */
.qualification .column2 {
    color: var(--title-color);
}

.qualification .column3 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.qualification .column3 .header {
    text-align: center;
    margin-bottom: -46px;
}

.qualification .column3 .year{
    color: var(--first-color);
}

.qualification .column3 .column-1 {
    float: left;
    width: 53%;
    text-align: end;
    line-height: 2em;
    margin-bottom: 50px;
}

.qualification .column3 .column-1 span {
    text-align: start;
}

.qualification .column3 .column-2 {
    float: right;
    width: 53%;
    text-align: start;
    line-height: 2em;
    margin-bottom: 50px;
}

/* footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 60vh;
    background-color: rgb(29, 29, 29);
 }

.footer .mail {
    position: relative;
    margin-left: 22rem;
    margin-right: 30rem;
    padding-top: 150px;
    font-size: var(--big-font-size);
    font-family: var(--body-font);
}

.footer .mail .far {
    color: var(--first-color);
}

.footer a:link {
    text-decoration: none;
    color: var(--title-color);
}

a:visited {
    color: var(--title-color);
    background-color: transparent;
    text-decoration: none;
}

.footer .mail a:hover {
    color: var(--first-color);
    cursor: pointer;
}

.footer .cv {
    position: relative;
    margin-left: 22rem;
    padding-top: 30px;
    font-size: var(--h1-font-size);
    font-family: var(--body-font);
}

.footer .cv a:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--first-color);
}

.footer .credits p {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    color: var(--title-color-darker);
}

.footer .credits i {
    color: var(--title-color-darker);
}

.to-top {
    position: fixed;
    bottom: 16px;
    left: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--first-color);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top i:hover {
    color: var(--first-color);
}  

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}